.header {

    color: rgb(157, 243, 131);
    text-align: center;
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;



}

h1 {
    text-shadow: 3px 3px 3px #9b9b9b;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.flex-item {
    flex: 1;
    margin-left: 30px;
    border: 4px dotted #70f090;
    padding: 1rem;
    min-width: 265px;
    text-align: center
}

.footer {
    background-color: #f3f2f2;
    color: #818181;
    text-align: center;
    padding: 1rem;


}

body {
    background-color: #dfffdb;
    margin-top: 5%;

}


.menu {
    background-color: rgb(140, 224, 115);
    color: white;
    text-decoration: none;

    border: 9px white;
    

    font-size: 18px;
    border-radius: 10px;
    box-shadow: 9px 2px rgb(163, 163, 163);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 5px;
    box-shadow: 2px 2px 2px gray;

}

.menu:hover {
    background-color: rgb(132, 207, 109);
    color: white;
}

nav {
    text-align: center;
}

li,
ul {
    display: inline;
}

.paragindex {
    text-align: justify;
    color: #818181;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}


h2 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #818181;
    text-align: left;
    margin-left: 2%;
}

img {
    border: 2px solid #818181;


}



.meio {
    background-color: #ccffc5;
    border-radius: 5%;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2%;
}

h3 {

    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}

.imgpgs {
    text-align: center;
    margin-bottom: 2%;
}

@media (max-width: 930px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .menu {
        padding: 10px;
        display: flex;
        margin: 10px !important;
    }
    header nav ul li {
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .menu {
        padding: 10px;
        display: flex;
        margin: 8px !important;
    }
}



@media (max-width: 400px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        

    }

    .menu {
        padding: 5px;
        display: inline-block;
        margin: 9px !important;
        font-size: 12px;
    }
}

@media screen and (min-width: 801px) {

    p,
    h2 {
        font-size: 19px;
    }

    h1 {
        font-size: 70px !important;
    }

    img {
        height: 200px !important;
        width: 200px !important;
    }
}

@media screen and (max-width: 800px) {

    p,
    h2 {
        font-size: 16px !important;
    }

    h1 {
        font-size: 50px;
    }
    img {
        height: 180px !important;
        width: 180px !important;
    }
}


@media screen and (min-width: 401px) {

    p,
    h2 {
        font-size: 16px !important;
    }

    h1 {
        font-size: 50px;
    }
    img {
        height: 170px !important;
        width: 170px !important;
    }
}

@media screen and (max-width: 400px) {

    p,
    h2 {
        font-size: 10px !important;
    }

    h1 {
        font-size: 40px;
    }

    img {
        height: 150px !important;
        width: 150px !important;
    }
}